<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content=
  "text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel='stylesheet' href='/stylesheets/default.css' type=
 "text/css" />
  <link rel='stylesheet' href='/stylesheets/jplayer.blue.monday.css' type=
 "text/css" />
</head>

<body>
  <div id="wrapper">
    <div id="main_container">
      <div id="left_container">
        <div id="me" class="clearfix">
          <a href=
          "#!/<%= session.user_profile.screen_name %>"><img src="http://api.twitter.com/1/users/profile_image/<%= session.user_profile.screen_name %>?size=bigger" />

          <ul>
            <li>@<%= session.user_profile.screen_name %></li>
            <li id="study_time">STUDY: 00:00:00</li>
          </ul></a>
        </div>

        <div id="left_menu">
          <ul id="members"></ul>
        </div>
      </div>

      <div id="right_container">
        <%- body %>
      </div>

      <div id="footer_bar">
        &copy; 2011 <%= title %>. All rights reserved. Design by
        <a href="http://www.maravan.in">Ganesh
        Gunasegaran</a>.<br />
        <!--This theme is free for distriubtion,  so long as  link to openwebdesing.org and www.best10webhosting.net  stay on the theme-->
        Courtesy of <a href="http://www.openwebdesign.org"
        target="_blank">Open Web Design</a> &amp; <a href=
        "http://www.dubaiapartments.biz/hotels/" target=
        "_blank">Hotels - Dubai</a>
      </div>
    </div>
  </div>
</body>
</html>
